@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

:root{
    --dark: #191919;
    --gray: #242424;
    --gray2: #313131;
    --white: #f5f5f5;
    --color1: #ee3046;
    --color2: #99acff;
    --color3: #f7586a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    max-width: 100%;
    background-color: var(--dark);
    color: var(--white);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}
header{
    background: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3) ),url('./img/bg-home.gif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*RETACHAR PA ARRIBA XD*/
.ocultar{
    display: none;
}
.mostrar{
    display:inline-block;
}
.mb-2{
    margin-bottom: 2rem;
}
/*UTILIDADES*/
.text-red{
    color: var(--color1);
}
.text-white{
    color: var(--white)!important;
}
.text-center{
    text-align: center;
}
.bg-black{
    background-color: #000;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn-primario{
    background-color: var(--color1);
    color: var(--white);
    transition: 1s ease;
    margin-right: 0.5rem;
    font-weight: 600;
}
.btn-primario:hover{
    background-color: var(--color3);
    transform: scale(1.05);
}
.btn-regresar{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 2;
}
.btn-regresar i{
    background: var(--white);
    border-radius: 50%;
    padding: 1rem;
    color: var(--white);
    background-color: var(--color1);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.btn-regresar i:hover{
    background-color: var(--color3);
    transform: scale(1.05);   
}
.btn-bajar{
    position: absolute;
    display: flex;
    bottom: 2rem;
    cursor: pointer;
    padding: 1rem;
    background-color: var(--color1);
    border-radius: 50%;
    color: var(--white);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.btn-bajar:hover{
    background-color: var(--color3);
    transform: scale(1.05);
}
.contenedor{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.contenedor-child{
    width: 70%;
    min-width: 70%;
    max-width: 0%;
    max-height: 100%;
    margin: 0 auto;
}
.navegacion{
    min-width: 100%;
    padding: 1rem 0px;
    position: fixed;
    z-index: 5;
}
.navegacion ul{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
}
.navegacion ul li{
    color: var(--white);
    margin-right: 1rem;
    font-weight: 600;
    cursor: pointer;
}      
.navegacion ul li:last-child{
    margin-right: 0;
}
.navegacion ul li i{
    color: var(--color1);    
}
.navegacion ul li a{
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
}
.hero{
    display: flex;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    color: var(--white);
    max-height: 100%;
}
.hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.socials ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.socials ul li{
    margin: 0 0.5rem;
}
.socials ul li:last-child{
    margin-right: 0rem;
}
.socials ul li a{
    font-size: 1.5rem;
    transition: all 1s ease;
    cursor: pointer;
    color: var(--white);
}
.socials ul li a:hover{
    color: var(--color1);
    transform: scale(1.1);
}
@media (max-width: 992px) and (min-height:720px) {
    .titulo-menu{
        font-size: 3rem;
    }
    .contenedor-child{
        width: 85%;
        min-width: 85%;
    }
    .btn-regresar,
    .btn-bajar{
        font-size: 2.5rem;
    }
    .socials ul li a{
        font-size: 3rem;
    }
    .navegacion ul li a i{
        font-size: 3rem;
    }
    .navegacion ul li a{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
    }
    .hero p{
        font-size: 2rem;
    }
}
@media (max-width: 767px){
    .titulo-menu{
        font-size: 5rem;
    }
    .contenedor-child{
        width: 80%;
        min-width: 80%;
    }
    .navegacion ul li{
        text-align: center;
    }
    .navegacion ul li a{
        font-size: 2rem;
        text-align: center;
    }
    .navegacion ul li a i{
        font-size: 4rem;
    }
    .hero h1{
        font-size: 5rem;
    }
    .hero p{
        font-size: 2.8rem;
    }
    .socials ul li a{
        font-size: 3.8rem;
        margin-right: 1rem;
    }
    .btn-regresar,
    .btn-bajar{
        font-size: 3.8rem;
    }
}
@media (max-width: 700px){
    .titulo-menu{
        font-size: 2rem;
    }
    .hero h1{
        font-size: 1.8rem;
    }
    .hero p{
        font-size: 1.2rem;
    }
    .navegacion ul{
        padding: 0;
    }
    .contenedor-child{
        width: 95%;
        min-width: 95%;
    }
    .navegacion ul li{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0.4rem;
    }
    .navegacion ul li i{
        font-size: 1.4rem;
    }
    .navegacion ul li a{
        font-size: 0.8rem;
    }
    .navegacion ul li a i{
        font-size: 1.8rem;
    }
    .socials ul li a{
        font-size: 1.5rem;
        margin-right: .5rem;
    }
    .btn-regresar,
    .btn-bajar{
        font-size: 1rem;
    }
}

/*SERVICIOS*/
.servicios-menu{
    padding-top: 0.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.titulo-menu{
    margin: 2rem 0;
    position: relative;
    text-align: center;
}
.titulo-menu:before{
    content: '';
    height: 0.5rem;
    width: 2.5rem;
    background-color: var(--color1);
    position: absolute;
    right: 50%;
    bottom: -.4rem;
    transform: translate(50%, 50%);
}
.servicio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.servicio-item{
    min-height: 100%;
    padding: 1rem;
    background-color: var(--color1);
    border-radius: 0 1rem 1rem 1.5rem;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
.servicio-item img{
    width: 80%;
    height: 80%;
}
@media (max-width: 992px) {
    .servicio{
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
    }
    .servicio-item h3 {
        font-size: 2rem;
        gap: 1rem;
    }
    .servicio-item p {
        font-size: 1.5rem;
    }
}
@media (max-width: 767px) {
    .servicio{
        grid-template-columns: repeat(1, 1fr);
        margin: 2.5rem;
    }
    .servicio-item h3 {
        font-size: 3.5rem;
    }
    .servicio-item p {
        font-size: 2.8rem;
    }
}
@media (max-width: 560px) {
    .servicio-item{
        padding: .4rem;
    }
    .servicio-item h3 {
        font-size: 1.5rem;
        gap: 1rem;
    }
    .servicio-item p {
        font-size: 1.1rem;
    }
}
/*PROYECTOS*/
.proyectos-box{
    background-color: var(--gray);
    padding-bottom: 3rem;
}
.proyectos h2{
    padding-top: 2rem;
}
.proyecto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    position: relative;
}
.proyecto-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-radius: 2rem;
    background-color: var(--color1);
    overflow: hidden;
    min-height: 100%;
}
.proyecto-item:hover > img{
    transform: scale(1.4);
}
.proyecto-item img{
    padding-top: 0.5rem;
    max-width: 85%;
    margin: 0 auto;
    transition: 1.5s ease;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
.proyecto-info{
    background-color: var(--color1);
    border-radius: 2rem;
    padding: 1rem;
    z-index: 1;
}
.botones-proyectos{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    max-width: 100%;
}
.btn-proyecto{
    margin-top: 1rem;
    background-color: var(--dark);
    color: var(--white);
    transition: 1s ease;
    margin-right: 0.5rem;
    border-radius: 1rem;

}
.btn-proyecto:last-child{
    margin-right: 0rem;
}
.btn-proyecto:hover{
    background-color: var(--gray);
    transform: scale(1.05);
}
@media (max-width: 992px) {
    .proyecto{
        grid-template-columns: repeat(2,1fr);
        margin: 1rem;
    }
    .proyecto-info h3{
        font-size: 2.2rem;
    }
    .proyecto-info p,
    .btn-proyecto{
        font-size: 1.2rem;
    }
}
@media (max-width: 767px) {
    .proyecto{
        grid-template-columns: repeat(1,1fr);
        margin: 2.5rem;
    }
    .proyecto-info{
        padding: 2rem;
    }
    .proyecto-info h3{
        font-size: 3.5rem;
    }
    .proyecto-info p,
    .btn-proyecto{
        font-size: 2.4rem;
    }
}
@media (max-width: 560px) {
    .proyecto-info{
        padding: 1rem;
    }
    .proyecto-info h3{
        font-size: 1.5rem;
    }
    .proyecto-info p,
    .btn-proyecto{
        font-size: 1rem;
    }
}

/*PARALAX MIDDLE*/
.galeria-paralax{
    padding: 2rem;
    background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),url('./img/paralax-g.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.contenido-paralax p{
    font-weight: 700;
    margin-bottom: 1rem;
}
@media (max-width: 992px) {
    .contenido-paralax h2{
        font-size: 3rem;
    }
    .contenido-paralax p,
    .btn.btn-primario{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px) {
    .contenido-paralax h2{
        font-size: 4.2rem;
    }
    .contenido-paralax p,
    .btn.btn-primario{
        font-size: 3rem;
    }
}
@media (max-width: 560px) {
    .contenido-paralax h2{
        font-size: 2rem;
    }
    .contenido-paralax p,
    .btn.btn-primario{
        font-size: 1.1rem;
    }
}
/*HABILIDADES*/
.hab-box{
    background-color: var(--gray);
}
.hab-box h2{
    margin-top: 0;
    padding-top: 2rem;
}
.habilidades{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding:0 2rem 2rem 2rem;
    gap: 2rem;
}
.me{
    background-color: var(--dark);
    padding: 1rem;
    z-index: 1;
}
.me p{
    margin: 1rem 0;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skill-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark);
    margin: 1rem;
    padding: 0.3rem;
}
.skill-item img{
    width: 2rem;
    height: 2rem;
    margin: .6rem auto;
}
.skill-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skill-info h3{
    font-size: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}
.skill-xp i{
    color: var(--gray2);
}
.skill-xp{
    font-size: 2rem;
}
@media (max-width: 992px) {
    .me{
        padding: 1rem;
    }
    .me h3{
        font-size: 2rem;
    }
    .me h4{
        font-size: 1.3rem;
    }
    .me p{
        font-size: 1.1rem;
    }
    .habilidades{
        grid-template-columns: 1fr 2fr;
        padding: 0;
        gap: .5rem;
    }
    .skills{
        grid-template-columns: 1fr 1fr;
    }
    .skill-item{
        margin: 0.5rem;
    }
    .skill-info img{
        width: 3rem;
        height: 3rem;
    }
    .skill-info h3{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px) {
    .habilidades{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        gap: .8rem;
        background-color: var(--gray);
        padding: 1rem;
    }
    .me{
        margin: 1rem;
        padding: 2rem;
    }
    .me h3{
        font-size: 4.2rem;
    }
    .me h4{
        font-size: 2.5rem;
    }
    .me p{
        font-size: 2.5rem;
    }
    .skills{
        grid-template-columns: 1fr;
    }
    .skill-item{
        margin: 0.5rem;
    }
    .skill-info img{
        width: 5rem;
        height: 5rem;
    }
    .skill-info h3{
        font-size: 2.8rem;
    }
    .skill-xp i{
        font-size: 4rem;
    }
}
@media (max-width: 560px) {
    .me{
        margin: 0rem;
        padding: 1.2rem;
    }
    .me h3{
        font-size: 2rem;
    }
    .me h4{
        font-size: 1rem;
    }
    .me p{
        font-size: 1rem;
    }
    .skill-item{
        margin: 0.5rem;
    }
    .skill-info img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .skill-info h3{
        font-size: 1.3rem;
    }
    .skill-xp i{
        font-size: 2rem;
    }
}

/*Contacto*/

.contacto-box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}
.contacto-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-weight: 700;
}
.contacto-data .socials ul{
    justify-content: center;
}
.contacto-item{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.contacto-item i{
    color: var(--color1);
    margin-right: 0.3rem;
    font-size: 1.5rem;
}

.input-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.input-item input,
.input-item textarea{
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    font-weight: 700;
    outline: none;
}
footer{
    background-color: var(--gray);
    padding: 2rem;
    text-align: center;
}
@media (max-width: 992px) {
    .contacto-box{
        grid-template-columns: 1fr;
    }
    .input-item label{
        font-size: 1.8rem;
    }
    .input-item textarea,
    .input-item input{
        font-size: 1.5rem;
    }
    .contacto-data{
        justify-content: center;
    }
    .contacto-item{
        flex-direction: column;
        margin: 2rem 0;
    }
    .contacto-item i,
    .contacto-item p{
        font-size: 2rem;
    }
    footer{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px) {
    form{
        padding: 0;
    }
    .input-item label{
        font-size: 2.2rem;
        font-weight: 700;
    }
    .input-item textarea,
    .input-item input{
        font-size: 2rem;
        max-width: 90%;
    }
    .contacto-item{
        margin: 2rem 0;
    }
    .contacto-item i{
        font-size: 3rem;
    }
    .contacto-item p{
        font-size: 2.5rem;
    }
    .contacto-data{
        padding: 0rem;
    }
    footer{
        font-size: 2.1rem;
    }
}
@media (max-width: 560px) {
    .contacto{
        padding: 0.5rem;
    }
    form{
        padding: 0rem;
    }
    .input-item label{
        font-size: 1rem;
    }
    .input-item textarea,
    .input-item input{
        font-size: .8rem;
    }
    .contacto-data{
        padding: 0.5rem;
    }
    .contacto-item{
        margin: 0;
    }
    .contacto-item i,
    .contacto-item p{
        font-size: 1rem;
        padding: 0.5rem 0;
    }
    footer{
        font-size: .8rem;
    }
}

/*ANIMACIONES*/
.animacion_skills {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
  }
  .animacion_skills:before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: white;
    /* IE9 */
    background: linear-gradient(135deg, var(--dark) 45%, rgb(107, 107, 107) 50%, rgb(156, 156, 156) 56%, var(--dark) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
    /*For IE7-8-9*/
    z-index: 1000;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: width, height;
    transition-property: width, height;
  }
  .animacion_skills:hover:before, .animacion_skills:focus:before, .animacion_skills:active:before {
    width: 30px;
    height: 30px;
  }
  

  /* Deslizar arriba*/
.animacion_arriba {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .animacion_arriba:before {
    position: absolute;
    z-index: -2;
    content: '';
    left: calc(50% - 10px);
    bottom: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--dark) transparent transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .animacion_arriba:hover, .animacion_arriba:focus, .animacion_arriba:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .animacion_arriba:hover:before, .animacion_arriba:focus:before, .animacion_arriba:active:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }


/* Servicios Anim */
.animacion_servicio {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .animacion_servicio:hover, .animacion_servicio:focus, .animacion_servicio:active {
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

/*FADE*/
.anim {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  /*Definicion Animacion*/
  @-webkit-keyframes fadeIn {
    0% {
      background: transparent;
    }
    100% {
        background-color: #111;
    }
  }
  @keyframes fadeIn {
    0% {
        background: transparent;
      }
      100% {
          background-color: #111;
      }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
  }

@media (max-width: 990px) and (orientation: landscape) {
    :root{
        font-size: 10px;
    }
}